
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E2CFEA; 
  line-height: 1.5;
  color: #102B3F; 
}


#main-header {
  background-color: #A06CD5; 
  color: #fff; 
  padding: 22px;
  text-align: center;
}


nav {
  position: sticky;
  top: 0;
  background-color: #6247AA; 
  color: #fff;
  padding: 12px;
  text-align: center;
  border-bottom: 3px solid #102B3F; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 17px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.sidebar {
  background-color: #6247AA; 
  color: #fff;
  padding: 17px;
  border-radius: 9px;
}


p {
  margin: 12px 0;
  color: #102B3F;
}


h1, h2, h3, h4 {
  color: #102B3F; 
}


.the-container-two-col {
  display: flex;
  gap: 22px;
  padding: 22px;
}

.main-content {
  flex: 2;
}

.sidebar h4 {
  color: #fff;
}


.the-container-three-col {
  display: flex;
  gap: 22px;
  padding: 22px;
}

.col-one, .col-three {
  flex: 2;
  background-color: #6247AA;
  color: #fff;
  padding: 17px;
  border-radius: 10px;
}

.col-two {
  flex: 3;
  padding: 12px;
}


.floated-image {
  float: left;
  margin: 0 22px 12px 0;
  border-radius: 5px;
}


form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 620px;
  margin: 22px auto;
}

form label {
  flex-basis: 100%;
  font-weight: bold;
  color: #102B3F;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  flex: 1;
  padding: 10px;
  margin-bottom: 17px;
  color: #102B3F;
  background-color: #fff;
  border: 1px solid #A06CD5; 
  border-radius: 5px;
}

button[type="submit"],
button {
  background-color: #062726; 
  color: #fff;
  padding: 12px 22px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}

button[type="submit"]:hover,
button:hover {
  background-color: #102B3F; 
}


.floated-image {
  float: left;
  margin: 0 22px 12px 0;
  width: 1000px; 
}

.floated-image img {
  width: 100%;
  border-radius: 5px;
}

.floated-image figcaption {
  font-size: 0.95em;
  color: #102B3F; 
  text-align: center;
  margin-top: 5px;
}
